/* /////////////////////////// Global styles ///////////////////// */

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

/* /////////////////////////// Helpers ///////////////////// */

.card {
  margin-right: 2rem;
}

.brand-logo:hover {
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
}

.margin-right {
  margin-right: 1rem;
}

.profile_height{
  height: 150px;
  width: 150px;
}

/* /////////////////////////// Colours ///////////////////// */

.primary-color {
  color: #fd9c42;
}

.heading-color {
  color: #707070;
}

.light-green {
  background-color: #a5d4e2 !important;
}

.color-red {
  color: #d0342c;
}

.color-green {
  color: #00a86b;
}

/* /////////////////////////// Font Awsome Icons ///////////////////// */

.fa-beer {
  margin-left: 1rem;
  margin-top: 3px;
  font-size: 4rem;
}

.fa-image {
  font-size: 8rem;
}

.fa-bars {
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
