{% extends "index.html" %} {% block content %}
<h2 class="heading-color">A list of all our campaigns</h2>
<div class="row col m3 offset-m3">
  <input type="search" name='search' id="search">
  <label for="search">
    <i class="fas fa-search"></i>
  </label>
</div>
<div class="row">
  {% for campaign in campaigns %}
  <div class="card col s5 m4 l3 hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img
          src="{{ url_for('file', filename=campaign['campaign_image_name']) }}"
          class="col s5"
          alt=""
        />
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"
        >{{ campaign.name }}<i
          class="fas fa-chevron-circle-down orange-icon right"
        ></i
      ></span>
      <progress
        class="tooltipped"
        value="{{ campaign.percentage_complete }}"
        max="100"
        data-position="top"
        data-tooltip="{{ campaign.percentage_complete }}%"
      ></progress>
      <p>
        <a href="{{ url_for('campaign_view', campaign_id=campaign._id )}}"
          >Donate</a
        >
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"
        >{{ campaign.name }}<i class="fas fa-times right"></i
      ></span>
      <p>{{ campaign.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
