{% extends "index.html" %} {% block content %}
<h2 class="header-color">
  You want to donate to {{ creator.first_name.capitalize() }}'s campaign!!
</h2>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image margin-top">
      <img
        src="{{ url_for('file', filename=campaign['campaign_image_name']) }}"
        alt="Campaign image"
      />
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h2 class="header-color">{{ campaign.name }}</h2>
        <p>{{ campaign.description }}</p>
        <h3 class="primary-color">TARGET: {{ campaign.target_amount }}</h3>
        <h3 class="primary-color">AMOUNT: {{ campaign.current_amount }}</h3>
      </div>
      <div class="card-action">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1"
          >Donate</a
        >

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <div class="row">
              <h4 class="col s6">Donate</h4>
              <div class="cols s6 right">
                <a class="modal-close"><i class="fas fa-times right"></i></a>
              </div>
            </div>
            <form
              class="col s12"
              method="POST"
              action="{{ url_for('donate_campaign', campaign_id=campaign._id )}}"
            >
              <div class="row">
                <div class="input-field col s6">
                  <input
                    id="donate"
                    name="donate"
                    type="number"
                    min="1"
                    pattern="[0-9.]+"
                    class="validate"
                    required
                  />
                  <label for="donate">amount</label>
                  <button type="submit" class="btn-large">Donate</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
