{% extends "index.html" %} {% block content %}

<h1 class="header-color center-align">Edit Campaign</h1>
<div class="row">
  <form
    class="col s12 m12"
    method="POST"
    action="{{ url_for('edit_campaign', campaign_id=campaign._id) }}"
  >
    <div class="card-panel">
      <!-- campaign name -->
      <div class="row">
        <div class="input-field col s12 l6 offset-l3">
          <i class="fas fa-address-card prefix primary-color"></i>
          <input
            id="name"
            name="name"
            minlength="3"
            type="text"
            class="validate"
            value="{{ campaign.name }}"
            required
          />
          <label for="name">Campaign Name</label>
        </div>
      </div>
      <!-- Target amount -->
      <div class="row">
        <p class="header-color center-align">
          Current amount generated: {{ campaign.current_amount }}
        </p>
        <div class="input-field col s12 l6 offset-l3">
          <i class="fas fa-bullseye prefix primary-color"></i>
          <input
            id="target"
            name="target"
            minlength="3"
            type="number"
            class="validate"
            pattern="[0-9.]+"
            value="{{ campaign.target_amount }}"
            required
          />
          <label for="target">How much do you want?</label>
        </div>
      </div>
      <!-- description -->
      <div class="row">
        <div class="input-field col s12">
          <textarea
            id="description"
            name="description"
            maxlength="250"
            class="materialize-textarea"
            required
          >
            {{- campaign.description -}}
          </textarea>
          <label for="description"
            >Description..... max length 250 characters</label
          >
        </div>
        <div class="row hide">
          <div class="input-field">
            <input
              id="percentage_complete"
              name="percentage_complete"
              minlength="3"
              type="text"
              class="validate"
              value="{{ campaign.name }}"
              required
            />
            <label for="percentage_complete">{{ campaign.percentage_complete }}</label>
          </div>
        </div>
      </div>
      <!-- submit -->
      <div class="row">
        <a
          href="{{ url_for('user_campaigns', user=session['user'])}}"
          class="btn-large red"
        >
          Cancel
          <i class="fas fa-times-circle right"></i>
        </a>
        <button type="submit" class="col s12 m6 btn-large offset-m3">
          Edit <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
