<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    {% block styles %} {% endblock %}
    <title>My Campaign</title>
  </head>
  <body>
    <header>
      <!-- Nav bar  -->
      <nav>
        <div class="nav-wrapper light-green">
          <a
            href="{{ url_for('home')}}"
            data-target="slide-out"
            class="brand-logo"
            ><i class="fas fa-beer primary-color"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href=""><i class="fas fa-search primary-color"></i></a>
            </li>
            {% if session.user %}
                <li>
                    <a href="{{ url_for('logout')}}" class="primary-color"
                    ><i class="fas fa-sign-out-alt margin-right primary-color"></i
                    >Sign Out</a
                    >
                </li>
            {% else %}
                <li>
                <a href="{{ url_for('signin')}}" class="primary-color"
                    ><i class="fas fa-sign-in-alt margin-right primary-color"></i
                    >Sign In</a
                >
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- Side Nav  -->
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="images/office.jpg" />
            </div>
            <a href="#"><img class="circle" src="images/yuna.jpg" /></a>
            <a href="#"><span class="white-text name"></span></a>
            <a href="#"
              ><span class="white-text email"></span></a
            >
          </div>
        </li>
        {% if session.user %}
            <li><a class="waves-effect" href="{{ url_for('profile', user=session['user'])}}"></i>Profile</a></li>
            <li><a class="waves-effect" href="{{ url_for('user_campaigns', user=session['user'])}}">Campaigns</a></li>
            <li><a class="waves-effect" href="{{ url_for('transactions', user=session['user'])}}">Transactions</a></li>
            <li><a class="waves-effect" href="#!">History</a></li>
            <li><a class="waves-effect" href="#!">Search</a></li>
            <li><a class="waves-effect" href="{{ url_for('logout')}}">Sign Out</a></li>
        {% else %}
            <li><a class="waves-effect" href="{{ url_for('signin')}}">Sign In</a></li>
        {% endif %}
            <li><div class="divider"></div></li>
        {% if session.user %}
            <li><a class="waves-effect" href="{{ url_for('delete_user', user=session['user'])}}">Delete Profile</a></li>
        {% endif %}
        </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"
        ><i class="fas fa-bars primary-color"></i
      ></a>
    </header>
    <section>
      <!-- flash messages  -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="row flashes">
        <h4 class="primary-color light-green center-align">{{ message }}</h4>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </section>
    <h1 class="primary-color center-align">My-Campaign.com</h1>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block script %} {% endblock %}
  </body>
</html>
