{% extends "index.html" %} {% block content %}
<h2 class="heading-color">A list of all our Overfunded campaigns</h2>
<div class="row card-panel col s9">
  <form action="{{ url_for('search')}}" method="post" class="col s9">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s9">
        <i class="fas fa-search prefix primary-color"></i>
        <input
          type="text"
          name="search"
          id="search"
          minlength="3"
          class="validate"
          required
        />
        <label for="search">Search campaigns</label>
        <div class="col s12 m8">
          <a href="{{ url_for('overfunded') }}" class="red btn text-shadow"
            >Reset</a
          >
          <button type="submit" class="light-green btn text-shadow right">
            <i class="fas fa-search left"></i> Search
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% if campaigns|length > 0 %}
<div class="row">
  {% for campaign in campaigns %} {% if campaign.percentage_complete > 100 %}
  <div class="card col s12 m5 l3 hoverable light-green">
    {% else %}
    <div class="card col s12 m5 l3 hoverable">
      {% endif %}
      <div class="card-image waves-effect waves-block waves-light">
        <img
          src="{{ url_for('file', filename=campaign['campaign_image_name']) }}"
          class="col s5 margin-top"
          alt="Campaign Image"
        />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"
          >{{ campaign.name }}<i
            class="fas fa-chevron-circle-down orange-icon right"
          ></i
        ></span>
        <p class="primary-color">
          Overfunded!! {{ campaign.percentage_complete }}%!!!!!!
        </p>
        <progress
          class="tooltipped left"
          value="{{ campaign.percentage_complete }}"
          max="100"
          data-position="top"
          data-tooltip="{{ campaign.percentage_complete }}%"
        ></progress>
        <p>
          <a href="{{ url_for('campaign_view', campaign_id=campaign._id )}}"
            >Donate</a
          >
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{ campaign.name }}<i class="fas fa-times right"></i
        ></span>
        <p>{{ campaign.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<h2 class="primary-color">No Results Found</h2>
{% endif %} {% endblock %}
