{% extends "index.html" %} {% block content %}
<table class="highlight centered">
    <thead>
      <tr>
          <th>Campaign</th>
          <th>Amount</th>
          <th>User</th>
          <th>Time</th>
      </tr>
    </thead>
    <h2>Payments in</h2>
    <tbody>
      <tr>
        <td>Home</td>
        <td>200</td>
        <td>John Tester</td>
        <td>date and Time</td>
      </tr>
      <tr>
        <td>Home</td>
        <td>200</td>
        <td>John Tester</td>
        <td>date and Time</td>
      </tr>
      <tr>
        <td>Home</td>
        <td>200</td>
        <td>John Tester</td>
        <td>date and Time</td>
      </tr>
    </tbody>
  </table>
{% endblock %}