{% extends "index.html" %} {% block content %}
<table class="highlight centered">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>User</th>
      <th>Amount</th>
      <th>Time</th>
    </tr>
  </thead>
  <div class="row">
    <h2>Transactions</h2>
    <form
      action="{{ url_for('transactions') }}"
      method="POST"
    >
    <label>Select Display</label>
    <select class="browser-default" id="user_choice" name="user_choice">
      <option value="" disabled>Newest/Oldest</option>
      <option value="1">Newest First</option>
      <option value="2">Oldest First</option>
    </select>
    <input type="submit" class="btn light-green" value="Select">
    </form>
  </div>
  <tbody>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.campaign }}</td>
      {% if user_id == transaction.user_from_id %}
      <td>{{ transaction.user_to }}</td>
      <td class="color-red">-{{ transaction.amount }}</td>
      {% else %}
      <td>{{ transaction.user_from }}</td>
      <td class="color-green">{{ transaction.amount }}</td>
      {% endif %}
      <td>{{ transaction.transaction_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
