{% extends "index.html" %} {% block content %}

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img
        src="{{ url_for('file', filename=campaign['campaign_image_name']) }}"
        class="margin-top"
      />
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a href="{{ url_for('user_campaigns')}}">
          <i class="fas fa-times right primary-color small"></i>
        </a>
        <h2 class="header-color">{{ campaign.name }}</h2>
        <p>{{ campaign.description }}</p>
        <h3 class="primary-color">TARGET: {{ campaign.target_amount }}</h3>
        <h3 class="primary-color">AMOUNT: {{ campaign.current_amount }}</h3>
      </div>
      <div class="card-action">
        <a
          class="waves-effect waves-light btn"
          href="{{ url_for('edit_campaign', campaign_id=campaign._id )}}"
          >Edit</a
        >
        <a
          class="waves-effect waves-light btn"
          href="{{ url_for('collect_campaign', campaign_id=campaign._id )}}"
          >Collect</a
        >
        <a
          class="waves-effect waves-light btn"
          href="{{ url_for('delete_campaign', campaign_id=campaign._id )}}"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
